// Assuming this is placed in a file like app/assets/stylesheets/application.scss
a {
  text-decoration: none;
  color :black

}

.container {
  max-width: 1200px;
  margin: 0 auto;

  .header {
    .title, .subtitle {
      text-align: center;
      color: #333;
    }
  }

  .search-form {
    margin-top: 20px;
    justify-content: center;

    .form-control {
      margin-right: 10px;
    }

    .btn-primary {
      background-color: #0275d8;
      border: none;
      border-radius: 15px;
    }
  }

  .boat-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .boat-card {
    margin-bottom: 20px;
    text-align: center;


    .card {
      background-color: #A7CADD;
      border: none;

      .card-image img {
        width: 100%;
        height: auto;
        border-radius: 15px;
      }

      .boat-info {
        padding: 15px;

        .boat-name-category p {
          font-weight: bold;
          color: #333;
          text-decoration: none;
        }

        .boat-stats p {
          color: #555;
        }
      }
    }
  }
}

.footer {
  text-align: center;
  border-top: 1px solid #ddd;
  padding-top: 20px;

  .footer-links {
    a {
      color: #0275d8;
      margin: 0 10px;
      text-decoration: none; // Removes underlining from links

      &:hover {
        text-decoration: underline;
      }

      .fab {
        font-size: 1.5em; // Makes the icons larger
      }
    }
  }
}
